@model IEnumerable<Timetable.Domains.Headteacher.Day>

@{
    ViewData["Title"] = "Create";
}

<h1>Выберите день недели для класса «@ViewData["className"]»</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-info text-white" asp-controller="Informer" asp-action="TimetableFinal" asp-route-name="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>