@model IEnumerable<Timetable.Domains.Director.Class>

@{
    ViewData["Title"] = "Create";
}

<h1>Выберите класс</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-info text-white" asp-controller="Headteacher" asp-action="Day" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
}
    </tbody>
</table>
