@{
    ViewData["Title"] = "Завуч";
}

<div class="text-left">
    <h2 class="display-4">Создать расписание</h2><hr>
    <a class="btn btn-block btn-info" asp-controller="Headteacher" asp-action="Class"> Создать урок </a>
</div>