@{
    ViewData["Title"] = "Директор";
}

<div class="text-left">
    <h2 class="display-4">Информация</h2>
    <hr>
    <a class="btn btn-block btn-info" asp-controller="Director" asp-action="Cabinets"> Кабинеты </a>
    <a class="btn btn-block btn-info" asp-controller="Director" asp-action="Classes"> Классы </a>
    <a class="btn btn-block btn-info" asp-controller="Director" asp-action="Lessons"> Предметы </a>
    <a class="btn btn-block btn-info" asp-controller="Director" asp-action="Teachers"> Преподаватели </a>
    <a class="btn btn-block btn-info" asp-controller="Director" asp-action="Times"> Время звонков </a>
</div>