@model IEnumerable<Timetable.Domains.Director.Lesson>

@{
    ViewData["Title"] = "Предметы";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="AddLesson">Добавить</a>
    <a class="btn btn-info" asp-action="Index">Назад</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="text-success" asp-action="EditLesson" asp-route-id="@item.Id">Изменить</a> |
                <a class="text-danger" asp-action="DeleteLesson" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
